<div class="buttonWrapper">
  <button type="button" (click)="calculate()" class="btn btn-secondary">Calcule</button>
  <button type="button" (click)="reset()" class="btn btn-secondary">Reset</button>
</div>
<div class="containerWrapper">
  <div class="mainContainer">
      <div class="container">
        @for (day of dayWeek(); track day.days) {
          <div class="form">
            <div class="week">{{ day.week }}</div>
            @for (singleDay of day.days; track singleDay) {
              <div class="day">{{ singleDay }}</div>
              <mat-form-field>
                <mat-label>Start hour</mat-label>
                <input type="time" matInput #startHourInput [defaultValue]="classicStartHour"
                       (change)="saveStartHour(startHourInput, day.days, day.week)">
              </mat-form-field>
              <mat-form-field>
                <mat-label>End hour</mat-label>
                <input type="time" matInput #endHourInput [defaultValue]="classicEndHour"
                       (change)="saveEndHour(endHourInput, day.days, day.week)">
              </mat-form-field>
            }
          </div>
        }
      </div>
  </div>
  <div class="altContainer">
    <span class="title">Compte rendu du mois</span>
    <div class="result" *ngIf="overWorkedHours">
      {{ overWorkedHours }}
    </div>
  </div>
</div>
